langchain-core~=1.2.7
langchain~=1.2.7
langgraph~=1.0.7
discord.py~=2.6.4
msoffcrypto-tool~=6.0.0
openpyxl~=3.1.5
watchdog~=6.0.0
pydantic~=2.12.5
langchain-community~=0.4.1
langchain-text-splitters~=1.1.0

langchain-chroma
langchain-ollama
typing-extensions

unstructured
python-docx
pypdf